<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Peminjaman Aula</title>
</head>
<body>
    <div class="bg">
    <div class="form">
        <img src="img/hall.png" class="image" >
        <h2>SIGN UP</h2>
        <form action="post" class="input-group">
            <div>
            <input class="input" type="text" placeholder="Username">
            </div>
            <div>
            <input class="input" type="password" placeholder="Password">
            </div>
            <div>
            <input class="input" type="password" placeholder="Confirm Password">
            </div>
            <div>
            <input class="submit" type="submit" value="SIGN UP">
            </div>
        </form>
    </div>
        <a href="#" class="acc">Already have an account ? Sign in</a>
    </div>
</body>
</html>