<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <!-- navbar -->
  <nav> 
    <!-- bagian kiri -->
    <div class="logo">
        <h4>Aulaku</h4>
      </div>
      <!-- bagian kanan -->
    <ul>
      <li id="home">
        <a href="Home">Home</a>
        <div class="underlined"></div>
      </li>
      <li id="event"><a href="Event">Event</a></li>
      <li id="booking"><a href="Booking">Booking</a></li>
      <li id="jadwal"><a href="Schedule">Dashboard</a></li>
      <li class="contact"><a href="contact">Kontak</a></li>
      <button class="pesan-tengah">Pesan</button>
    </ul> 
    <div class="cursor"></div>
    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
   <a class="pay" href="#"><button class="pesan">Pesan</button></a>
  </nav>
  <!-- home body -->
  <section id="home-page">
    <div class="">
      <h1>Sewa Aula <span>SMKN 26 Jakarta</span></h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing <br>
         elit. Dolores, dolorem?</p>
       <button class="btn-home">Lets Start</button>
    </div>
  </section>
  <script src="Navbar.js"></script>
</body>
</html>