<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="black">
  </div>
  <nav class="navbar poppins zindex">
    <h2 class="logo zindex">
      Pinjem Aula
    </h2>  
    <div class="rightSide">
      <h4 class="poppins highlighted  zindex">
        Home
      </h4>
      <h4 class="zindex white" >bookin</h4>
      <h4 class="zindex white" >hi, ana</h4>
    </div>
  </nav>

  <div class="openingImage">
  </div>
  <div class="textSide">
    <div class="text">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum similique fugiat dolor nisi autem porro alias soluta. Error architecto amet, rem, quaerat ab reiciendis esse dolore doloribus, ipsa aspernatur iste.</p>
    </div>
  </div>
  <div class="about">
    <img src="aula-foto.jpg"" class="foto-about">
    <div class="what">
      <h4 class="what-title">Apa itu Pinjem Aula?</h4>
      <p  class="what-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus error earum repellendus natus veritatis laboriosam, quasi quaerat ex id nihil explicabo labore. Incidunt officiis voluptatibus cumque libero repellat ducimus?</p>
    </div>
  </div>
  </div>
  <div id="layanan" class="container layanan">
    <h2>From Our Product</h2>

    <div class="row align-items-center mt-5">
        <div class="col-md-6 g-2">
            <img class="w-50 ms-5 position-relative layanan-img-kanan" src="images/ac.png" alt="...">
        </div>
        <div class="col-md-6 g-2">
            <p class="layanan-text col-md-6 ms-5">Kami memberikan kenyamanan ruangan yang sejuk dengan banyaknya penyejuk ruangan.</p>
        </div>
    </div>
    <div class="row align-items-center mt-5 flex-row-reverse">
        <div class="col-md-6 g-2">
            <img class="w-50 ms-5 position-relative" src="images/kursi.png" alt="...">
        </div>
        <div class="col-md-6 g-2">
            <p class="layanan-text col-md-6 ms-5 position-relative text-end layanan-img-kanan">Kami memberikan fasillitas ruangan yang luas dengan ruang dalam yang besar dan halaman yang luas.</p>
        </div>
    </div>
    <div class="row align-items-center mt-5">
        <div class="col-md-6 g-2">
            <img class="w-50 ms-5 position-relative layanan-img-kanan" src="images/kursi-putih.png" alt="...">
        </div>
        <div class="col-md-6 g-2">
            <p class="layanan-text col-md-6 ms-5">Kami memberikan fassilitas pendukung untuk tamu berupa meja dan kursi.</p>
        </div>
    </div>
</div>
<div id="preview" class="preview">
<h2 class="brown text-center align-middle py-4 mt-5 mb-0">PREVIEW AULA</h2>

</body>
</html>
